.container {
  margin: auto 15%;
}

.content {
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  max-width: 650px;
  color: #242424;
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "sans-serif";
}

h1,
h2,
h3 {
  font-weight: 600;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

li {
  padding-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: rgb(67, 124, 230);
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.apiCard {
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: white;
  border-radius: 16px;
  margin: 10px;
  transition: all 0.5s ease-in-out;
  object-fit: contain;
}
.apiCard:hover {
  transform: scale(1.05);
}
.apiCard:hover .text {
  display: flex;
}
.apiCard .text {
  display: none;
  z-index: 11;
  color: white;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(158, 158, 158, 0.507),
    rgb(25, 25, 25)
  );
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  font-weight: 600;
  position: absolute;
}
img {
  max-width: 350px;
  height: 200px;
  object-fit: cover;
  width: 100%;
}
